<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appsettings>
    <add key="currentDate" value="20-10-2014"/>
  </appsettings>

  <connectionStrings>
    <add name="MyDBConnectionString" connectionString="Data Source=localhost\\SQLSERVER2008;Initial Catalog=GD2C2014;User ID=gd;Password=gd2014" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>